@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

// font-family: "Poppins", sans-serif;
//  font-family: "Satisfy", cursive;
//font-family: "Concert One", sans-serif;

body{
    background-color: #efecec;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-section{
    #explore-service{
        font-size: 38px;
        font-family: "Concert One", sans-serif;
        font-weight: 400;
  font-style: normal;
    }
    #our-service{
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
    }
    #title{
        font-family: "Poppins", sans-serif
    }
  #master{
    // box-shadow: 1px 1px 10px;
   //padding: 30px;

//    font-family: "Concert One", sans-serif;


  }
}